<!DOCTYPE html>
<html>
  <head>
    <title>video chatserver - chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  </head>
  <body>
    <div><a href="/">home</a></div>
    <div><a href="/chat">chat</a></div>
    <form action="" method="POST">
      <input type="text" class="message"/>
      <button id="button">send</button>
    </form>

    <div class="messages"></div>

    <script type="text/javascript">
      // 연결
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      // 전송
      socket.on("connect", function () {
        socket.emit("chat client", { data: "Client Connected" });

        $("button").on("click", function (e) {
          e.preventDefault();
          var user_input = $("input.message").val();
          socket.emit("chat client", { message: user_input });
          $("input.message").val("").focus();
        });
      });

      // 수신
      socket.on("chat server", function (msg) {
        if (typeof msg.message !== "undefined") {
          $("div.messages").append("<div>" + msg.message + "</div>");
        }
      });
    </script>
  </body>
</html>
