<!DOCTYPE html>
<html>
    <head>
        <title>video chatserver - videochat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="https://docs.opencv.org/master/opencv.js"></script>
    </head>
    <body>
        <div id="container">
            <canvas id="canvasOutput"></canvas>
            <video autoplay="true" id="videoElement"></video>
        </div>
        
        <div class = 'video'>
            <img id="image">
        </div>
        

        
        <script>
            // 연결
            var socket = io.connect(
                "http://" + document.domain + ":" + location.port
            );

            // 전송
            socket.on("connect", function () {
                socket.emit("chat client", { data: "Client Connected" });
            });
        
            const video = document.querySelector("#videoElement");
        
            video.width = 500; 
            video.height = 375; ;
        
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err0r) {
                    console.log(err0r)
                    console.log("Something went wrong!");
                });
            }

            var file = video.srcObject;
            var stream = ss.createStream();
            ss(socket).emit('image', stream, {'name': 'video.mp4'});
            var blobStream = ss.createBlobReadStream(file);
            blobStream.on('data', function(chunk){
                console.log('updated', chunk.length);
            });
            // cv['onRuntimeInitialized']=()=>{
            //     let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
            // let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
            // let cap = new cv.VideoCapture(video);
        
            // const FPS = 22;
        
            // setInterval(() => {
            //     cap.read(src);
        
            //     var type = "image/png"
            //     var data = document.getElementById("canvasOutput").toDataURL(type);
            //     data = data.replace('data:' + type + ';base64,', ''); 
        
            //     socket.emit('image', data);
            // }, 10000/FPS);
        
        
            // socket.on('response_back', function(image){
            //     const image_id = document.getElementById('image');
            //     image_id.src = image;
            // });
            // };
        
            
        </script>
    </body>
</html>